body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #000;
  }
  
  main {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100%;
    color:#fff;
    text-transform: capitalize;
    display:flex;
    flex-direction:column
  }
  